<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvVCYlUDD3e8mm3TaMIv6h8VQx4caa9yg</string>
	<key>GCM_SENDER_ID</key>
	<string>502944480018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.derVerApp</string>
	<key>PROJECT_ID</key>
	<string>alerts-f5d7a</string>
	<key>STORAGE_BUCKET</key>
	<string>alerts-f5d7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502944480018:ios:8ff9f79ad8780ca9f8d1cb</string>
</dict>
</plist>